﻿<ion-view view-title="Login">
    <ion-content class="padding">
        <div id="formDiv">
            <form name="loginForm" novalidate="" ng-submit="loginForm.$valid && login()">
                <img id="loginLogo" src="eepl_logo.png" />
                <div>
                    <div class="list">
                        <label class="item item-input"
                               ng-class="{ 'has-error' : loginForm.mobileNo.$invalid && loginForm.$submitted}">
                            <span class="input-label">Phone</span>
                            <input type="number"
                                   name="mobileNo"
                                   ng-model="loginData.mobileNo"
                                   pattern="\d{10}"
                                   required>
                        </label>
                        <div class="form-errors" ng-if="loginForm.$submitted && loginForm.mobileNo.$invalid" ng-messages="loginForm.mobileNo.$error" ng-messages-include="templates/form-errors.html">
                            <div class="form-error" ng-message="pattern">Please enter 10 digit phone number</div>
                        </div>
                        <label class="item item-input"
                               ng-class="{ 'has-error' : loginForm.password.$invalid && loginForm.$submitted}">
                            <span class="input-label">Password</span>
                            <input type="password"
                                   name="password"
                                   ng-model="loginData.password"
                                   required>
                        </label>
                        <div class="form-errors" ng-if="loginForm.$submitted && loginForm.password.$invalid" ng-messages="loginForm.password.$error" ng-messages-include="templates/form-errors.html">
                        </div>
                    </div>
                    <button type="submit" class="button button-block button-assertive">
                        Proceed
                    </button>
                </div>
            </form>
            <a class="button button-block button-stable" href="#/register">
                No Account? Register.
            </a>
            <button class="button button-clear button-full button-assertive" ng-click="forgotPassword()">
                Forgot password
            </button>
        </div>

    </ion-content>
</ion-view>
<script id="templates/form-errors.html" type="text/ng-template">
    <div class="form-error" ng-message="required">This field is required.</div>
    <div class="form-error" ng-message="minlength">This field is too short</div>
    <div class="form-error" ng-message="maxlength">This field is too long</div>
</script>

<style>
    #loginLogo {
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom:30px;
    }
    #formDiv {
        position:relative;
        top:40px;
    }

</style>