﻿<ion-view view-title="Product Image">
    <ion-nav-bar class="bar-assertive bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="">
        <div class="list">
            <div class="item item-divider">
                {{product.name}} - #{{product.id}}
            </div>
            <div class="item item-divider">
                Primary Image
            </div>
            <div class="item" href="#" style="padding:0">
                <div class="row">
                    <div class="col col-50" ng-click="uploadProductImage(1)">
                        <img onerror="this.src='add-image.png'" ng-src="{{image.primaryUrl}}" />
                    </div>
                </div>
            </div>
            <div class="item item-divider">
                Detailed Images
            </div>
            <div class="item" href="#" style="padding:0">
                <div class="row" ng-repeat="row in image.dUrl">
                    <div class="col col-50" ng-repeat="col in row" ng-click="uploadProductImage(col.index)">
                        <img onerror="this.src = 'add-image.png'" ng-src="{{col.url}}" />
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
<style>
    img {
        width: 100%;
    }
</style>