﻿<ion-view view-title="Register">
    <div class="bar bar-header bar-assertive">
        <img side="primary" style="height: 2.6em;border: solid;border-width: 1px;border-radius: 5px;" src="eepl_logo.png" />
        <h2 class="title">Register</h2>
    </div>
    <ion-content class="padding has-header">
        <ion-refresher on-refresh="refresh(true)" spinner="android"></ion-refresher>
        <form name="registerForm" novalidate="" ng-submit="registerForm.$valid && register(registerForm)">
            <div class="list list-inset">
                <label class="item item-input"
                       ng-class="{ 'has-error' : registerForm.mobileNo.$invalid && registerForm.$submitted}">
                    <span class="input-label">Phone</span>
                    <input type="number"
                           name="mobileNo"
                           ng-model="form.mobileNo"
                           pattern="\d{10}"
                           required>
                </label>
                <div class="form-errors" ng-if="registerForm.$submitted && registerForm.mobileNo.$invalid" ng-messages="registerForm.mobileNo.$error" ng-messages-include="templates/form-errors.html">
                    <div class="form-error" ng-message="pattern">Enter 10 digit phone number</div>
                </div>
                <label class="item item-input"
                       ng-class="{ 'has-error' : registerForm.TIN.$invalid && registerForm.$submitted}">
                    <span class="input-label">TIN</span>
                    <input type="text"
                           name="TIN"
                           ng-model="form.TIN"
                           pattern="\d{11}"
                           required>
                </label>
                <div class="form-errors" ng-if="registerForm.$submitted && registerForm.TIN.$invalid" ng-messages="registerForm.TIN.$error" ng-messages-include="templates/form-errors.html">
                    <div class="form-error" ng-message="pattern">Enter 11 digit TIN</div>
                </div>

                <label class="item item-input"
                       ng-class="{ 'has-error' : registerForm.name.$invalid && registerForm.$submitted}">
                    <span class="input-label">Name</span>
                    <input type="text"
                           name="name"
                           ng-model="form.name"
                           ng-minlength="3"
                           mg-maxlength="100"
                           required>
                </label>
                <div class="form-errors" ng-if="registerForm.$submitted && registerForm.name.$invalid" ng-messages="registerForm.name.$error" ng-messages-include="templates/form-errors.html">
                </div>

                <label class="item item-input"
                       ng-class="{ 'has-error' : registerForm.email.$invalid && registerForm.$submitted}">
                    <span class="input-label">Email</span>
                    <input type="email"
                           name="email"
                           ng-model="form.email"
                           ng-minlength="4"
                           mg-maxlength="100"
                           required>
                </label>
                <div class="form-errors" ng-if="registerForm.$submitted && registerForm.email.$invalid" ng-messages="registerForm.email.$error" ng-messages-include="templates/form-errors.html">
                    <div class="form-error" ng-message="email">This needs to be a valid email</div>
                </div>

                <label class="item item-input"
                       ng-class="{ 'has-error' : registerForm.storename.$invalid && registerForm.$submitted}">
                    <span class="input-label">Store Name</span>
                    <input type="text"
                           name="storename"
                           ng-model="form.storename"
                           ng-minlength="3"
                           mg-maxlength="100"
                           required>
                </label>
                <div class="form-errors" ng-if="registerForm.$submitted && registerForm.storename.$invalid" ng-messages="registerForm.storename.$error" ng-messages-include="templates/form-errors.html">
                </div>
               
                <label class="item item-input"
                       ng-class="{ 'has-error' : registerForm.street.$invalid && registerForm.$submitted}">
                    <span class="input-label">Street</span>
                    <input type="text"
                           name="street"
                           ng-model="form.street"
                           ng-minlength="3"
                           mg-maxlength="100"
                           required>
                </label>
                <div class="form-errors" ng-if="registerForm.$submitted && registerForm.street.$invalid" ng-messages="registerForm.street.$error" ng-messages-include="templates/form-errors.html">
                </div>
                <label class="item item-input"
                       ng-class="{ 'has-error' : registerForm.street.$invalid && registerForm.$submitted}">
                    <span class="input-label">City</span>
                    <input readonly type="text" value="Bengaluru">
                </label>
                <label class="item item-input"
                       ng-class="{ 'has-error' : registerForm.street.$invalid && registerForm.$submitted}">
                    <span class="input-label">State</span>
                    <input readonly type="text" value="Karnataka">
                </label>

                <label class="item item-input"
                       ng-class="{ 'has-error' : registerForm.zipcode.$invalid && registerForm.$submitted}">
                    <span class="input-label">Zipcode</span>
                    <input type="number"
                           name="zipcode"
                           ng-model="form.zipcode"
                           pattern="\d{6}"
                           required>
                </label>
                <div class="form-errors" ng-if="registerForm.$submitted && registerForm.zipcode.$invalid" ng-messages="registerForm.zipcode.$error" ng-messages-include="templates/form-errors.html">
                    <div class="form-error" ng-message="pattern">Not a valid zipcode</div>
                </div>
            </div>
            <div class="row">
                <div class="col col-20">
                    <ion-checkbox ng-model="checked" class="checkbox-assertive" style="border-color:#fafafa; padding-left:0px">
                    </ion-checkbox>
                </div>
                <div class="col">
                    I have read and understood the <br />
                    <a href="#/terms" class="text-center">
                        Terms and Conditions 
                    </a>
                    and have <br /> agreed to the same
                </div>

            </div>


            <button class="button button-block button-assertive" type="submit" ng-disabled="!checked">
                Register
            </button>
        </form>
    </ion-content>
</ion-view>