﻿<ion-view view-title="Edit Profile">
    <ion-nav-bar class="bar-assertive">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="has-header padding">
        <ion-refresher on-refresh="refresh(true)" spinner="android"></ion-refresher>
        <div class="list" style="text-align:center;border:none">
            <div class="item item-body">
                <span class="input-label"><b>Profile Photo</b></span>
                <img class="full-image" src="{{image.retailerImageUrl}}" style="width:100%;height:100%;border-radius:50%" fallback-src="user-male.png" ng-click="updateImage()">

            </div>
        </div>
        <div class="list" style="text-align:center;border:none">
            <div class="item item-body">
                <span class="input-label"><b>Store Logo</b></span>
                <img class="full-image" src="{{logo.retailerLogoUrl}}" style="width:100%;height:100%;border-radius:50%" fallback-src="user-male.png" ng-click="updateLogo()">

            </div>
        </div>
        <form name="editForm" novalidate="" ng-submit="editForm.$valid && saveProfile()">
            <div class="list list-inset">
                <label class="item item-input"
                       ng-class="{ 'has-error' : editForm.phoneNo.$invalid && editForm.$submitted}">
                    <span class="input-label">TIN</span>
                    <input type="text"
                           name="TIN"
                           ng-model="retailer.tin"
                           ng-minlength="11"
                           ng-maxlength="11"
                           required>
                </label>
                <div class="form-errors" ng-if="editForm.$submitted && editForm.TIN.$invalid" ng-messages="editForm.TIN.$error" ng-messages-include="templates/form-errors.html">
                    <div class="form-error" ng-message="minlength">This field must have 11 characters.</div>
                    <div class="form-error" ng-message="maxlength">This field must have 11 characters.</div>
                </div>

                <label class="item item-input"
                       ng-class="{ 'has-error' : editForm.name.$invalid && editForm.$submitted}">
                    <span class="input-label">Name</span>
                    <input type="text"
                           name="name"
                           ng-model="retailer.name"
                           ng-minlength="3"
                           ng-maxlength="100"
                           required>
                </label>
                <div class="form-errors" ng-if="editForm.$submitted && editForm.name.$invalid" ng-messages="editForm.name.$error" ng-messages-include="templates/form-errors.html">
                    <div class="form-error" ng-message="minlength">This field must have 10 characters.</div>
                    <div class="form-error" ng-message="maxlength">This field must have 10 characters.</div>
                </div>

                <label class="item item-input"
                       ng-class="{ 'has-error' : editForm.email.$invalid && editForm.$submitted}">
                    <span class="input-label">Email</span>
                    <input type="email"
                           name="email"
                           ng-model="retailer.mailId"
                           ng-minlength="4"
                           ng-maxlength="100"
                           required>
                </label>
                <div class="form-errors" ng-if="editForm.$submitted && editForm.email.$invalid" ng-messages="editForm.email.$error" ng-messages-include="templates/form-errors.html">
                    <div class="form-error" ng-message="email">This needs to be a valid email</div>
                </div>

                <label class="item item-input"
                       ng-class="{ 'has-error' : editForm.mobileNo.$invalid && editForm.$submitted}">
                    <span class="input-label">Phone</span>
                    <input type="number"
                           name="mobileNo"
                           ng-model="retailer.retailerPhone[0].phoneNumber"
                           ng-minlength="10"
                           ng-maxlength="10"
                           required>
                </label>
                <div class="form-errors" ng-if="editForm.$submitted && editForm.mobileNo.$invalid" ng-messages="editForm.mobileNo.$error" ng-messages-include="templates/form-errors.html">
                    <div class="form-error" ng-message="minlength">This field must have 10 characters.</div>
                    <div class="form-error" ng-message="maxlength">This field must have 10 characters.</div>
                </div>

                <label class="item item-input"
                       ng-class="{ 'has-error' : editForm.storename.$invalid && editForm.$submitted}">
                    <span class="input-label">Store Name</span>
                    <input type="text"
                           name="storename"
                           ng-model="retailer.storename"
                           ng-minlength="3"
                           ng-maxlength="100"
                           required>
                </label>
                <div class="form-errors" ng-if="editForm.$submitted && editForm.storename.$invalid" ng-messages="editForm.storename.$error" ng-messages-include="templates/form-errors.html">
                </div>

                <label class="item item-input"
                       ng-class="{ 'has-error' : editForm.phoneNo.$invalid && editForm.$submitted}">
                    <span class="input-label">Street</span>
                    <input type="text"
                           name="street"
                           ng-model="retailer.storeaddress.street"
                           ng-minlength="3"
                           ng-maxlength="100"
                           required>
                </label>
                <div class="form-errors" ng-if="editForm.$submitted && editForm.street.$invalid" ng-messages="editForm.street.$error" ng-messages-include="templates/form-errors.html">
                </div>

                <label class="item item-input"
                       ng-class="{ 'has-error' : editForm.zipcode.$invalid && editForm.$submitted}">
                    <span class="input-label">Zipcode</span>
                    <input type="number"
                           name="zipcode"
                           ng-model="retailer.storeaddress.zipCode"
                           ng-length="6"
                           required>
                </label>
                <div class="form-errors" ng-if="editForm.$submitted && editForm.zipcode.$invalid" ng-messages="editForm.zipcode.$error" ng-messages-include="templates/form-errors.html">
                </div>

                <label class="item item-input"
                       ng-class="{ 'has-error' : editForm.chndPassword.$invalid && editForm.$submitted}">
                    <span class="input-label">New Password</span>
                    <input type="password"
                           name="chndPassword"
                           ng-model="retailer.password"
                           ng-minlength="5">
                </label>
                <div class="form-errors" ng-if="editForm.$submitted && editForm.zipcode.$invalid" ng-messages="editForm.zipcode.$error" ng-messages-include="templates/form-errors.html">
                    <div class="form-error" ng-message="minlength">This field must have minimum 5 characters.</div>
                </div>

            </div>
            <button type="submit" class="button button-block button-assertive">
                Save Profile
            </button>
        </form>
    </ion-content>
</ion-view>
<script id="templates/form-errors.html" type="text/ng-template">
    <div class="form-error" ng-message="required">This field is required.</div>
    <div class="form-error" ng-message="minlength">This field is too short</div>
    <div class="form-error" ng-message="maxlength">This field is too long</div>
</script>