﻿<ion-view view-title="Product Detail">
    <ion-nav-bar class="bar-assertive bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="">
        <div class="list">
            <div class="item item-button-right">
                <b>Name : </b>{{product.name}} (#{{product.id}})
                <button class="button button-positive" ng-click="clone()">
                    <i class="icon ion-ios-browsers-outline"></i>
                </button>
            </div>
            <div class="item">
                <b>Category : </b>{{product.category.name}}
            </div>
            <div class="item">
                <b>Segment : </b>{{product.segment.name}}
            </div>
            <div class="item">
                <b>Subsegment : </b>{{product.subSegment.name}}
            </div>
            <div class="item">
                <b>Primary Use : </b>{{product.primaryUse}}
            </div>
            <div class="item">
                <b>Logical group : </b>{{product.logicalGroup.name}}
            </div>
            <div class="item">
                <b>UOM : </b>{{product.unitOfMeasurement.name}}
            </div>
            <div class="item">
                <b>Brand : </b>{{product.brand}}
            </div>
            <div class="item">
                <b>Specification : </b>{{product.specification}}
            </div>
            <div class="item">
                <b>Rank : </b><b>&#8377;</b>{{product.rank}}
            </div>
            <div class="item">
                <b>Dealer price : </b><b>&#8377;</b>{{product.dealerPrice}}
            </div>
            <div class="item">
                <b>Consumer price : </b><b>&#8377;</b>{{product.consumerPrice}}
            </div>
            <a class="item item-icon-left item-icon-right" ng-click="gotoProductImages()">
                <i class="icon ion-images"></i>
                Product Images
                <i class="icon ion-chevron-right"></i>
            </a>
        </div>
    </ion-content>
</ion-view>