﻿<ion-view view-title="View Profile" style="background-color:InactiveBorder;">
    <ion-nav-bar class="bar-assertive">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    
        <ion-content class="padding">
            <div class="list" style="text-align:center;border:none">
                <div class="item item-body" style="border-width:0px">
                    <span class="input-label"><b>Profile Photo</b></span>
                    <img class="full-image" style="width:100%;height:100%;border-radius:50%" id="profileImage" src="{{retailer.consumerImageUrl}}" fallback-src="user-male.png">
                </div>
                <div class="item item-body">
                    <span class="input-label"><b>Store Logo</b></span>
                    <img class="full-image" style="width:100%;height:100%;border-radius:50%" id="logoImage" src="{{retailer.logoImageUrl}}" fallback-src="user-male.png">
                </div>
                <table border="0">
                    <tr>
                        <td>
                            <div class="item" style="border-width:0px;text-align:left">
                                <p style="font-weight:bolder">Name</p>
                            </div>
                        </td>
                        <td>
                            <div class="item" style="border-width:0px;text-align:left">
                                <p ng-bind="retailer.name" style="overflow:unset"></p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="item" style="border-width:0px;text-align:left">
                                <p style="font-weight:bolder">TIN</p>
                            </div>
                        </td>
                        <td>
                            <div class="item" style="border-width:0px;text-align:left">
                                <p ng-bind="retailer.tin" style="overflow:unset"></p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="item" style="border-width:0px;text-align:left">
                                <p style="font-weight:bolder">Store Name</p>
                            </div>
                        </td>
                        <td>
                            <div class="item" style="border-width:0px;text-align:left">
                                <p ng-bind="retailer.storename" style="overflow:unset"></p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="item" style="border-width:0px;text-align:left">
                                <p style="font-weight:bolder">Address</p>
                            </div>
                        </td>
                        <td>
                            <div class="item" style="border-width:0px;text-align:left">
                                <p ng-bind="retailer.storeaddress.street" style="overflow:unset"></p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="item" style="border-width:0px;text-align:left">
                                <p style="font-weight:bolder">Retailer ID</p>
                            </div>
                        </td>
                        <td>
                            <div class="item" style="border-width:0px;text-align:left">
                                <p ng-bind="retailer.storeaddress.retailer_id" style="overflow:unset"></p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="item" style="border-width:0px;text-align:left">
                                <p style="font-weight:bolder">Phone No</p>
                            </div>
                        </td>
                        <td>
                            <div class="item" style="border-width:0px;text-align:left">
                                <p ng-bind="retailer.retailerPhone[0].phoneNumber != null? retailer.retailerPhone[0].phoneNumber:'No phone number'"></p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="item" style="border-width:0px;text-align:left">
                                <p style="font-weight:bolder">Email ID</p>
                            </div>
                        </td>
                        <td>
                            <div class="item" style="border-width:0px;text-align:left">
                                <p ng-bind="retailer.mailId"></p>
                            </div>
                        </td>
                    </tr>
                   
                </table>
                <a class="button button-assertive button-block item-icon-left" href="#/editprofile">
                    <i class="icon ion-wrench"></i>
                    Edit Profile
                </a>
            </div>
        </ion-content>


</ion-view>