﻿<ion-view view-title="Order {{order.orderId}}">
    <ion-nav-bar class="bar-assertive">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="">
        <ion-refresher on-refresh="refresh(true)" spinner="android"></ion-refresher>
        <a class="item item-thumbnail-left" ng-click="onOrderClick(order)">
            <img fallback-src="user-male.png" src="http://{{SERVER}}/consumer/image/{{rawOrderDetail.consumerId}}" ng-click="onConsumerClick(order);stopPropagation()"/>
            <span class="item-note">
                <h2 ng-class="rawOrderDetail.status">{{rawOrderDetail.status}}</h2>
            </span>
            <h2>ORDER {{rawOrderDetail.orderId}}</h2>
            <span class="item-note">
                <h2 style="color:black"><b>&#8377;</b> {{rawOrderDetail.total | number:2}}</h2>
            </span>
            <p>{{rawOrderDetail.consumerName}}</p>
            <p>{{rawOrderDetail.orderDate}}</p>
        </a>
        <label class="item item-input item-select">
            <div class="input-label">
                Status
            </div>
            <select ng-model="status.selected" name="category" ng-options="sts for sts in status.availableStatus" ng-change="statusChange(status.selected)"></select>
        </label>
        <div class="list">
            <a href="#" class="item item-text-wrap" ng-repeat="item in rawOrderDetail.orderItems" ng-click="item.checked = !item.checked">
                <span class="item-note" style="color:#ef473a!important;font-size: 1.2em;">
                    {{item.quantity | number:0}}
                </span>
                <h3>{{item.productName}}</h3>
                <span class="item-note" style="font-size: 1.2em;" ng-if="item.checked">
                    <i class="icon ion-checkmark-round"></i>
                </span>
                <p ><b>&#8377;</b> {{item.productPrice | number: 2}}</p>
               
               
            </a>
        </div>
</ion-content>
    <ion-footer-bar class="bar-stable">
        <button class="button button-assertive" ng-click="printPreviewData()">
            <i class="icon ion-android-print">
                Print
            </i>
        </button>
    </ion-footer-bar>
</ion-view>
<style>
    .qtyBadge {
        border-radius: 50%;
        width: 36px;
        height: 36px;
        padding: 8px;
        background: #EEEFEE;
        border: 0px solid #666;
        color: #666;
        text-align: center;
        font: 17px Arial, sans-serif;
    }
     .NEW {
        color: rgb(8, 154, 149);
        text-align: right;
    }

    .DELIVERED {
        color: coral;
        text-align: right;
    }

    .PROCESSING {
        color: blueviolet;
        text-align: right;
    }

    .RECEIVED {
        color: green;
        text-align: right;
    }

    .CANCELLED {
        color: red;
        text-align: right;
    }
</style>

<!--.item-select {
  width: 100%;
}

.item-select select {
  left: 0;
}-->
