﻿
<ion-view view-title="Order List" style="background-color:InactiveBorder;">
    <!--<ion-nav-bar class="bar-assertive">


        <ion-nav-buttons side="right">
            <img side="primary" style="height: 2.6em;border: solid;border-width: 1px;border-radius: 5px;" src="eepl_logo.png" />
            <button ng-controller="homeCtrl" style="color: black;" class="button button-icon icon ion-android-notifications parent" value="New" ng-model="data.filterChoice" ng-click="filterBy()">
                <span class="badge badge-assertive child" ng-if="newOrderCount>0">{{newOrderCount}}</span>
            </button>
            <button ng-click="openPopover($event)" class="button button-icon icon ion-android-more-vertical"></button>
        </ion-nav-buttons>
    </ion-nav-bar>-->
    <div class="bar bar-header bar-assertive">
        <img side="primary" style="height: 2.6em;border: solid;border-width: 1px;border-radius: 5px;" src="eepl_logo.png" />
        <h1 class="title">Home</h1>
        <button ng-controller="homeCtrl" style="color: black;" class="button button-icon icon ion-android-notifications parent">
            <span class="badge badge-assertive child" ng-if="newOrderCount>0">{{newOrderCount}}</span>
        </button>
        <button ng-click="openPopover($event)" class="button button-icon icon ion-android-more-vertical"></button>
    </div>

    <div class="bar bar-subheader" style="padding: 0px;">
        <div class="button-bar" style="left:40%;">

            <a class="button item-icon-left" ng-click="filterBy()" style="height: 48px;">
                <i class="icon ion-funnel" style="font-size:large;left:20%;top:-16%">Filter by</i>
                <div style="position:absolute;top:41%;left:30%;font-size:medium;font-weight:bold;">
                    ({{data.filterChoice}})
                </div>

            </a>
            <a class="button item-icon-left" ng-click="orderBy()" style="height: 48px;">
                <i class="icon ion-stats-bars" style="font-size:large;left:17%;top:-16%">Order by</i>
                <div style="position:absolute;top:41%;left:15%;font-size:medium;font-weight:bold;">
                    ({{data.orderChoice}})
                </div>

            </a>
        </div>
    </div>
    <ion-spinner icon="ripple" class="spinner-assertive"></ion-spinner>
    <ion-content class="has-subheader">
        <ion-refresher on-refresh="refresh(true)" spinner="android"></ion-refresher>
        <div class="list card" ng-if="orderList.length !=0">
            <a class="item item-thumbnail-left" ng-repeat="order in orderList" ng-click="onOrderClick(order)">
                <img fallback-src="user-male.png" src="http://{{SERVER}}/consumer/image/{{order.consumerId}}" ng-click="onConsumerClick(order);$event.stopPropagation();" />
                <span class="item-note">
                    <h2 ng-class="order.status">{{order.status}}</h2>
                </span>
                <h2>ORDER {{order.orderId}}</h2>
                <span class="item-note">
                    <h2 style="color:black"><b>&#8377;</b> {{order.total | number:2}}</h2>
                </span>
                <p>{{order.consumerName}}</p>
                <p>{{order.orderDate}}</p>
            </a>
        </div>
        <div ng-if="orderList.length === 0" style="text-align:center;padding:5px;">
            <h3>
                No orders placed yet!
            </h3>
        </div>
    </ion-content>
</ion-view>
<script id="my-popover.html" type="text/ng-template">
    <ion-popover-view style="height: 12em;">
        <ion-content class="contendheight">
            <div class="list">
                <a class="item item-icon-left" href="#/invitation" ng-click="closePopover()">
                    <i class="icon ion-android-person-add"></i>
                    Invite Customer
                </a>
                <a class="item item-icon-left" ng-if="canMapProducts" href="#/productmanagement" ng-click="closePopover()">
                    <i class="icon ion-soup-can"></i>
                    Products Mgmt
                </a>
                <a class="item item-icon-left" href="#/settings" ng-click="closePopover()">
                    <i class="icon ion-ios-gear"></i>
                    Settings
                </a>
            </div>
        </ion-content>
    </ion-popover-view>
</script>
<style type="text/css">
    .parent {
        position: relative;
    }

    .child {
        position: absolute !important;
        left: 20px;
        top: 4px !important;
        width: auto;
        height: 17px;
    }

    .NEW {
        color: rgb(8, 154, 149);
        text-align: right;
    }

    .DELIVERED {
        color: coral;
        text-align: right;
    }

    .PROCESSING {
        color: blueviolet;
        text-align: right;
    }

    .RECEIVED {
        color: green;
        text-align: right;
    }

    .CANCELLED {
        color: red;
        text-align: right;
    }
</style>
<script id="filter-popup.html" type="text/ng-template">
    <ion-list>
        <ion-radio value="No Filter" ng-model="data.filterChoice" ng-click="clicked1()">
            No Filter
        </ion-radio>
        <ion-radio value="NEW" ng-model="data.filterChoice" ng-click="clicked1()">
            New
        </ion-radio>
        <ion-radio value="ACKNOWLEDGED" ng-model="data.filterChoice" ng-click="clicked1()">
            Acknowledged
        </ion-radio>
        <ion-radio value="DISPATCHED" ng-model="data.filterChoice" ng-click="clicked1()">
            Dispatched
        </ion-radio>
        <ion-radio value="RECEIVED" ng-model="data.filterChoice" ng-click="clicked1()">
            Received
        </ion-radio>
        <ion-radio value="DELIVERED" ng-model="data.filterChoice" ng-click="clicked1()">
            Delivered
        </ion-radio>
        <ion-radio value="CANCELLED" ng-model="data.filterChoice" ng-click="clicked1()">
            Cancelled
        </ion-radio>
    </ion-list>
</script>
