﻿
<ion-view view-title="Profile">
    <ion-header-bar class="bar-header bar-royal">
        <div class="title">Profile View</div>
        <div class="buttons">
            <button class="button button-clear icon ion-clipboard"></button>
        </div>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list" style="text-align:center;border:none">
            <div class="item item-body" ">
                <img class="full-image" style="width:100%;height:100%;border-radius:50%" id="profileImage" src="{{profileData.consumerImageUrl}}" fallback-src="user-male.png">
            </div>
            <div class="item">
                <h2 ng-bind="profileData.name"></h2>
            </div>
            <div class="item">
                <p ng-bind="profileData.phoneNumber != null? profileData.phoneNumber:'No phone number'"></p>
            </div>
            <div class="item">
                <p ng-bind="profileData.date_of_birth"></p>
            </div>
            <div class="item">
                <p ng-bind="profileData.mail_id"></p>
            </div>

            <div class="item item-text-wrap">
                <p ng-bind="profileData.address"></p>
            </div>

            <a class="button button-assertive button-block item-icon-left" href="#/app/editprofile">
                <i class="icon ion-wrench"></i>
                Edit profile
            </a>
        </div>
    </ion-content>
</ion-view>