﻿<ion-view view-title="Invite Customer">
    <ion-nav-bar class="bar-assertive bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="padding">
        <ion-refresher on-refresh="refresh(true)" spinner="android"></ion-refresher>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Consumer Phone No</span>
                <input type="number" ng-model="data.phoneno" placeholder="Consumer Phone No" required>
            </label>
        </div>
        <button class="button button-assertive button-block button-positive" ng-click="sendInvitation()">
            Invite
        </button>
    </ion-content>
</ion-view>