﻿<ion-view view-title="Product Mgmt">
    <ion-nav-bar class="bar-assertive bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <div class="list">
            <a class="item item-icon-left" href="#/addproducts">
                <i class="icon ion-plus-circled"></i>
                Add new product
            </a>
            <a class="item item-icon-left" href="#/addedProducts">
                <i class="icon ion-clipboard"></i>
                Added products
            </a>
        </div>
    </ion-content>
</ion-view>