﻿<ion-view title="PrintPreview" id="listItem">
    <ion-nav-bar class="bar-assertive bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content id="printArea" class="padding">
        <table border="1" style="width:100%">
            <tr style="text-align:left; background-color:#000000;color:white;border-bottom:solid 3px black">
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            <tr ng-repeat="data in orderDetail.orderItems" style="border-bottom:solid 1px black">
                <td>{{data.productName}}</td>
                <td>{{data.quantity}}</td>
                <td><b>&#8377;</b>{{data.productPrice}}</td>
            </tr>
        </table>
    </ion-content>
    <ion-footer-bar class="bar-stable">
        <button class="button button-assertive" ng-click="printPage()">
            <i class="icon ion-printer">Print this Page</i>
        </button>
    </ion-footer-bar>
</ion-view>

<style type="text/css">
    .header .col {
        background-color: lightgrey;
    }

    .col {
        border: solid 1px grey;
        border-bottom-style: none;
        border-right-style: none;
    }

        .col:last-child {
            border-right: solid 1px grey;
        }

    .row:last-child .col {
        border-bottom: solid 1px grey;
    }
</style>