﻿<ion-view view-title="Added products">
    <ion-nav-bar class="bar-assertive bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="">
        <div class="list">
            <a class="item item-icon-left item-icon-right" ng-click="productDetail(item)"
                 ng-repeat="item in products">
                <i class="icon ion-cube"></i>
                {{item.name}}
                <i class="icon ion-chevron-right"></i>
            </a>
        </div>
    </ion-content>
</ion-view>