﻿<ion-view view-title="Settings">
    <ion-nav-bar class="bar-assertive">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="padding">
        <ion-refresher on-refresh="refresh(true)" spinner="android"></ion-refresher>
        <div class="list">

            <a class="item item-icon-left" href="#/profile" ng-click="closePopover()">
                <i class="icon ion-person"></i>
                View Profile
            </a>
            <a class="item item-icon-left"  href="#/editprofile" ng-click="closePopover()">
                <i class="icon ion-person-add"></i>
                Edit Profile
            </a>
            <a class="item item-icon-left" ng-click="resetData()">
                <i class="icon ion-log-out"></i>
                Logout
            </a>
        </div>

        <!--TOKEN{{localStorage['token']}}-->
        <!--<ion-list>
                <p ng-repeat="item in localStoragePair">
                   <b>{{item.key}}</b> : {{item.value}}
                </p>
        </ion-list>-->
    </ion-content>
</ion-view> 