﻿<ion-view view-title="AddProducts">
    <ion-nav-bar class="bar-assertive bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="padding">
        <form name="productForm" novalidate="" ng-submit="productForm.$valid && AddProduct()">
            <div class="list list-inset">
                <!--Product Name-->
                <label class="item item-input"
                       ng-class="{ 'has-error' : productForm.productName.$invalid && productForm.$submitted}">
                    <span class="input-label">Product Name</span>
                    <input type="text"
                           name="productName"
                           ng-model="data.productName"
                           ng-minlength="4"
                           required>
                </label>
                <div class="form-errors" ng-if="productForm.$submitted && productForm.productName.$invalid" ng-messages="productForm.productName.$error" ng-messages-include="templates/form-errors.html"></div>
                <!--Category selection-->
                <label class="item item-input item-select" ng-init="categoryInit()"
                       ng-class="{ 'has-error' : productForm.category.$invalid && productForm.$submitted, 'valid' : productForm.category.$valid}">
                    <div class="input-label">
                        Category
                    </div>
                    <select ng-model="data.category" name="category" ng-options="cat.name for cat in category" required></select>
                </label>
                <div class="form-errors" ng-if="productForm.$submitted && productForm.category.$invalid" ng-messages="productForm.category.$error">
                    <div class="form-error" ng-message="required">Please select any category</div>
                </div>
                <!--Segment selection-->
                <label class="item item-input item-select" ng-if="data.category"
                       ng-class="{ 'has-error' : productForm.segment.$invalid && productForm.$submitted, 'valid' : productForm.segment.$valid}">
                    <div class="input-label">
                        Segment
                    </div>
                    <select ng-model="data.segment" name="segment" ng-options="seg.name for seg in data.category.segments" required></select>
                </label>
                <div class="form-errors" ng-if="productForm.$submitted && productForm.segment.$invalid" ng-messages="productForm.segment.$error">
                    <div class="form-error" ng-message="required">Please select any segment</div>
                </div>
                <!--Subsegment selection-->
                <label class="item item-input item-select" ng-if="data.segment"
                       ng-class="{ 'has-error' : productForm.subsegment.$invalid && productForm.$submitted, 'valid' : productForm.subsegment.$valid}">
                    <div class="input-label">
                        Subsegment
                    </div>
                    <select ng-model="data.subsegment" name="subsegment" ng-options="subseg.name for subseg in data.segment.subsegments"  required></select>
                </label>
                <div class="form-errors" ng-if="productForm.$submitted && productForm.subsegment.$invalid" ng-messages="productForm.subsegment.$error">
                    <div class="form-error" ng-message="required">Please select any subsegment</div>
                </div>
                <ion-checkbox ng-model="data.isActive">Is Main Product</ion-checkbox>
                <!--Logical group selection-->
                <label class="item item-input item-select">
                    <div class="input-label">
                        Logical Group
                    </div>
                    <select ng-model="data.logicalGroup" ng-options="lg.name for lg in logicalGroup"></select>
                </label>
                <!--UOM selection-->
                <label class="item item-input item-select"
                       ng-class="{ 'has-error' : productForm.uom.$invalid && productForm.$submitted, 'valid' : productForm.uom.$valid}">
                    <div class="input-label">
                        Unit of Measurement
                    </div>
                    <select ng-model="data.unitOfMeasurement" name="uom" ng-options="uom.name for uom in unitOfMeasurement" required></select>
                </label>
                <div class="form-errors" ng-if="productForm.$submitted && productForm.uom.$invalid" ng-messages="productForm.uom.$error">
                    <div class="form-error" ng-message="required">Please select any UOM</div>
                </div>
                <!--Brand-->
                <label class="item item-input">
                    <span class="input-label">Brand Name</span>
                    <input type="text"
                           ng-model="data.brand">
                </label>
                <!--Primary Use-->
                <label class="item item-input">
                    <span class="input-label">Primary Use</span>
                    <input type="text"
                           ng-model="data.primaryUse">
                </label>
                <!--Specification-->
                <label class="item item-input">
                    <span class="input-label">Spec</span>
                    <input type="text"
                           ng-model="data.specification">
                </label>
                <!--Rank-->
                <label class="item item-input"
                       ng-class="{ 'has-error' : productForm.rank.$invalid && productForm.$submitted}">
                    <span class="input-label">Rank</span>
                    <input type="number"
                           name="rank"
                           ng-model="data.rank"
                           required>
                </label>
                <div class="form-errors" ng-if="productForm.$submitted && productForm.rank.$invalid" ng-messages="productForm.rank.$error" ng-messages-include="templates/form-errors.html"></div>
                <!--Consumer Price-->
                <label class="item item-input"
                       ng-class="{ 'has-error' : productForm.consumerPrice.$invalid && productForm.$submitted}">
                    <span class="input-label">Consumer Price</span>
                    <input type="number"
                           name="consumerPrice"
                           ng-model="data.consumerPrice"
                           required>
                </label>
                <div class="form-errors" ng-if="productForm.$submitted && productForm.consumerPrice.$invalid" ng-messages="productForm.consumerPrice.$error" ng-messages-include="templates/form-errors.html"></div>
                <!--RetailerPrice-->
                <label class="item item-input"
                       ng-class="{ 'has-error' : productForm.retailerPrice.$invalid && productForm.$submitted}">
                    <span class="input-label">Retailer Price</span>
                    <input type="number"
                           name="retailerPrice"
                           ng-model="data.retailerPrice"
                           required>
                </label>
                <div class="form-errors" ng-if="productForm.$submitted && productForm.retailerPrice.$invalid" ng-messages="productForm.retailerPrice.$error" ng-messages-include="templates/form-errors.html"></div>
            </div>
            <div class="padding">
                <button class="button button-block button-positive">
                    Add product
                </button>
            </div>
        </form>

    </ion-content>
</ion-view>
<script id="templates/form-errors.html" type="text/ng-template">
    <div class="form-error" ng-message="required">This field is required.</div>
    <div class="form-error" ng-message="minlength">This field must be at least 4 characters.</div>
</script>